*{
    
	margin: 0;
	padding: 0;
}
body
{
	background: linear-gradient(120grad, rgb(100, 57, 134), rgb(152, 174, 213));
    width: 400px;
	margin: 100px auto 0px auto;
	
}
h3
{
	
	 padding: 4px 0;
      	color: #04205c;
      	font-size: 24px;      
      	text-transform: uppercase;
	text-align: center;
	}
.main
{
    margin: 2rem auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 425px;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 rgba(#999, .25);
	padding: .75rem;

}
